*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header{
    height: 70px;
    width: 100%;
}

main{
    height: calc(100vh - 120px);
    background-color: #6EFED3;
}

footer{
    height: 50px;
    
    y: flex;
    align-items: center;
}

#footer-container{
    padding: 0 20px;
}

#header-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.left-header, .right-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-header img{
    padding-right: 20px;
}

.right-header > *{
    margin-left: 10px;
}


#play{
    width: 90px;
}


#main-container{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square{
    position: relative;
    width: calc(500px / 10);
    height: calc(500px / 10);
    border: 1px solid black;
}

.onclick_correct{
    background-color: rgb(65, 154, 255);
}

.onclick_bomb{
    background-color: rgb(255, 65, 65);
}

.square-hard{
    width: calc(500px / 9);
    height: calc(500px / 9);    
}

.square-crazy{
    width: calc(500px / 7);
    height: calc(500px / 7);    
}


#score{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: 900;
}